
body{
    background-color: rgb(0, 0, 0);
    margin:0;
    color:white;
    display:flex;
    justify-content: center;
    align-items: center;
    min-height: 100dvh;

}

.calculator-div{
    display:flex;
    width:fit-content;
    padding:16px;
    background-color: rgb(33, 33, 33);
    justify-content: center;
    align-items: center;
    flex-direction: column;
    border-radius: 8px;
    position: relative;
    border: 1px solid orange;
}

.gridder{
    display:grid;
    grid-template-columns: repeat(3, 50px);
    column-gap: 12px;
    row-gap: 12px;
    justify-content: center;
}
.circular-button-orange, .circular-button-grey, .circular-button-normal{
    color:white;
    background-color: rgb(44, 44, 44);
    border:none;
    height: 50px;
    width: 50px;
    border-radius: 25px;
    font-size: 1.2em;
    font-weight: 600;
    text-align: center;
    cursor: pointer;

}
.circular-button-grey{
    background-color: rgb(50, 25, 16)
}
.circular-button-orange{
    background-color: orangered
}
.circular-button-orange:hover, .circular-button-grey:hover, .circular-button-normal:hover{
    opacity: 0.8;
}
.circular-button-orange:active, .circular-button-grey:active, .circular-button-normal:active{
    opacity: 0.5;
}

#display-bar{
    width: 245px;
    border:1px solid salmon;
    background-color: rgb(66, 66, 66);
    height:50px;
    margin-bottom: 18px;
    color: white;
    border-radius: 6px;
    outline:0;
    text-align: right;
    padding: 5px 15px;
    font-size: 18px;
    font-weight: 600;
    box-sizing: border-box;
}
#display-bar::placeholder{
    font-size: 18px;
    font-weight: 600;
    color: white;
}


.all-buttons{
    display:flex;
    padding: 0px 4px;

}
.side-buttons{
    display:flex;
    flex-direction: column;
    row-gap:12px;
    margin-left: 12px;
}


        .calculator-div::after, .calculator-div::before {
            --angle:0deg;
            content: '';
            position: absolute;
            top: 50%;
            left: 50%;
            width: 100%;
            height: 100%;
            border-radius: inherit;
            background-image: conic-gradient(from var(--angle), rgb(255, 136, 0), transparent, transparent, rgb(255, 136, 0),transparent, transparent, rgb(255, 136, 0));
            transform: translate(-50%, -50%);
            z-index: -1;
            animation-name: rotate-border;
            animation-duration: 5s;
            animation-timing-function: linear;
            animation-iteration-count: infinite;
            padding:4px;
        }
        .calculator-div::before {
            filter: blur(21px);
            opacity: 0.5;
        }
        .glow-static {
            position: absolute;
            top: 50%;
            left: 50%;
            width: 180%;
            height: 180%;
            border-radius: 50%;
            background: radial-gradient(circle, orange, yellow 60%, transparent 80%);
            transform: translate(-50%, -50%);
            z-index: -2;
            filter: blur(500px);
            opacity: 0.5;
        }


        
        @property --angle {
            syntax: "<angle>";
            initial-value: 0deg;
            inherits: false;
        }

        @keyframes rotate-border {
            0% { --angle: 0deg; }
            50% { --angle: 180deg; }
            100% { --angle: 360deg; }
        }



